body {
    background-color: pink;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
}

header {
    padding: 0 25px;
    display: flex;
    justify-content: space-between;
    background-color: antiquewhite;
}

ul {
    list-style: none;
}

.container {
    display: flex;
    align-items: center;
}

.quiz {
    width: 600px;
    height: 400px;
    margin: 10px auto;
    border: solid 2px black;
}

#question {
    padding: 20px;
}

.answer {
    background-color: cadetblue;
    color: black;
    width: 150px;
    height: auto;
    margin: 5px;
    border-radius: 5px;
    text-align: left;
}

.answer-section {
    padding: 15px;
}

.continue {
    display: flex;
    justify-content: center;
}

.next-question {
    background-color: aliceblue;
    color: black;
    width: 100px;
    height: 30px;
    border-radius: 5px;
}

.hidden {
    display: none;
}

.start {
    width: 150px;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
    background-color: aliceblue;
    margin-top: 95px;
}

.start-page-content,
.end-page-content {
    margin-top: 85px;
    text-align: center;
}

.submit {
    background-color: aliceblue;
    color: black;
}