body {
    background-color: pink;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
}

.container {
    width: 600px;
    height: 400px;
    background-color: wheat;
}

.choice {
    width: 150px;
    height: 25px;
    background-color: green;
    color: black;
    display: flex;
    flex-direction: column;
}